@import url('../reusable.css');

/*
=============== 
Counter
===============
*/

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.container {
    text-align: center;
}

#countVariable {
    font-size: 6rem;
    font-weight: bold;
}

.btn {
    margin: 0.5rem;
}